body {
    font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.top-bar .container {
    padding: 0;
}
.log-col {
    position: relative !important;
    z-index: 9 !important;
}
img {
    max-width: 100%;
}
.top-right {
    float: right !important;
    margin-top: 24px !important;
    text-align: right !important;
}
span.top-search {
    float: left;
    width: 54%;
}
.top-right {
    float: right;
    margin-top: 24px;
    text-align: right;
}
.search {
    width: 100%;
    position: relative;
}
.searchTerm {
    float: left;
    width: 100% !important;
    border: 1px solid #d3d3d3 !important;
    padding: 5px !important;
    height: 36px !important;
    border-radius: 0 !important;
    outline: none;
    color: #000000;
}
.searchButton {
    position: absolute;
    right: 0;
    width: 40px;
    height: 34px;
    border: none;
    background: #ff5b5b;
    text-align: center;
    color: #fff;
    border-radius: 0;
    cursor: pointer !important;
    font-size: 16px;
    margin: 1px;
    box-shadow: none !important;
    opacity: 1 !important;
}

button.searchButton:hover {
    background: none !important;
    border: none !important;
    color: none !important;
}

.header.content {
    display: none;
}

.logo {
     float: none !important; 
     margin: 0px !important;
}

.page-header {
     padding-bottom: 0px !important; 
     margin: 0px !important; 
  }
span.phone-bar {
    display: block;
    font-size: 24px;
    color: #000;
    line-height: 0;
}

/*css for footer newsleteer section*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.footer-widget h3 {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 20px;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 6px;
}

.footer-widget li a {
    font-size: 15px;
    color: #5a5a5a;
    font-family: 'Open Sans', sans-serif;
}

.footer-widget li a:hover {
    color: #ff0202 !important;
    text-decoration: none !important;
}

.copyright {
    background-color: #343434 !important;
    font-size: 15px;
    }

@media (max-width: 994px)
{
.footer-widget {
    min-height: 265px !important;
}
}

.news-letter {
    font-family: 'Open Sans', sans-serif;
}

.news-letter p {
    font-size: 12.4px;
}

.news-letter button.btn.btn-large {
    width: 100%;
    background: #3d3d3d;
    font-size: 18px;
    border-radius: 0;
    color: #fff;
    padding: 5px;
    box-shadow: none !important;
}

.news-letter input[type="email"] {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #b5b5b5;
    font-size: 14px;
    margin-bottom: 10px;
    box-shadow: none;
}

.footer-social li {
    float: left;
    margin-right: 9px !important;
    margin-top: 11px !important;
}

.req {
    background: #ff5b5b !important;
    color: #fff !important;
    font-size: 18px !important;
    text-align: center !important;
    padding: 5px !important;
    width: 100% !important;
    display: inline-block !important;
    text-decoration: none !important;
}

.req a:hover, a:focus {
    color: #5fcf80;
}

.page-footer{
	background: #ededed !important;
    padding: 30px 0;
    padding-bottom: 0;
}

/*navigation bar css start*/
.navbar {
    margin-bottom: 0px;
}

.navbar {
    min-height: 40px;
}

.navbar-default {
    background-color: #000;
    border: none !important;
    border-radius: 0 !important;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-nav {
    float: left;
    margin: 0;
   
    text-align: center;
}

.navbar-nav>li {
    float: left;
    display: inline-block;
    border-right: solid 2px #fff;
    padding-right: 15px;
    margin-right: 15px;
    margin-top: 12px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    font-size: 16px;
    font-weight: 100;
    line-height: 15px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fa3637 !important;
}

.navbar-nav > li > a {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fa3637 !important;
}

.navbar-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
    overflow-x: visible !important;
    -webkit-overflow-scrolling: touch !important;
    border-top: 1px solid transparent !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1) !important;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1) !important;
}

.navbar-nav .active a {
    background: none !important;
    color: #5FCF80 !important;
    outline: none;
}

ul.cart {
    float: right !important;
    margin: 0px !important;
}

ul.cart li {
    margin-top: 6px !important;
    float: left !important;
    margin-left: 20px !important;
    margin-bottom: 0 !important;
}

ul.cart li a {
    color: #fff !important;
}

nav.navbar.navbar-default.navigation {
    background-color: #000 !important;
}

.navbar {
   margin-bottom: 0px !important;
   background-color: #000 !important; 
}


/* Dropdown Menu */
nav ul li ul { 
    position: absolute;
    background: #ccc;
    width: 100%; 
    margin: 0;
    padding: 0;
    display: none;
     }
 nav ul li ul li { 
    text-align: center;
    width: 100%; }

 nav ul li:hover ul { /*display: none;*/ }


 @media (max-width: 994px){
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    line-height: 15px;
}

.navbar-nav>li {
    float: left;
    display: inline-block;
    border-right: solid 2px #fff;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 12px;
}

ul.cart li a {
    color: #fff;
    font-size: 14px;
}

}

@media (max-width: 450px) and (min-width: 20px){
.navbar-default .navbar-nav > li > a {
    text-align: center;
}
}

@media (max-width: 680px)
{
.navbar-nav>li {
    float: none;
    display: inline-block;
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
    margin-top: 12px;
    width: 100%;
}
ul.cart {
    float: left;
    width: 100%;
    text-align: center;
    padding: 0;
}
ul.cart li {
    margin-top: 6px;
    float: none;
    margin-left: 0;
}

}

/* css for offer section after navigation block*/

.search-bar {
    background: none;
    /* height: 37px; */
    background-size: 100%;
    padding: 15px 0px;
}

.offer-strip {
    background: #feef4d;
    text-align: center;
    margin-bottom: 15px;
    color: #000;
    font-size: 38px;
    padding: 5px;
}

.dy-strip {
    background: #feef4d;
    text-align: center;
    color: #000;
    font-size: 17px;
    padding: 0px;
    height: 35px;
    line-height: 35px;
}

.dy-strip img {
    margin-right: 15px;
    position: relative;
    top: -1px;
}

.social-strip {
    background: #545454;
    text-align: center;
    color: #000;
    font-size: 17px;
    padding: 0px;
    height: 35px;
    line-height: 30px;
}

.social-strip a img {
    width: 24px;
    margin-left: 5px;
}

.dy-strip {
    background: #feef4d;
    text-align: center;
    color: #000;
    font-size: 17px;
    padding: 0px;
    height: 35px;
    line-height: 35px;
}

.dy-strip img {
    margin-right: 15px;
    position: relative;
    top: -1px;
}

@media (max-width: 994px)
{
.social-strip {
    background: #545454;
    text-align: center;
    color: #000;
    font-size: 17px;
    padding: 0px;
    height: 35px;
    line-height: 30px;
    margin: 10px -15px;
}
}

.brand {
    padding: 30px 0px;
    display: inline-block;
}

.product-heading {
    text-align: center;
}

.product-heading h1 {
    font-weight: bold;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*css for homepage main content area*/
main#maincontent {
    padding-top: 20px;
    margin-right: 45px;
    margin-left: 45px;
}